*.log
*.gpstate
*.SCC
_N_Generated*
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

*.txt

Tests/TestSuite/*.log
*.eap
*.ldb



engings.bat

Tests/test/example.n


endings.bat
*.lock
*.ide
/.vs/Nemerle.Statechart2017/v15/Server/sqlite3

/Tests/testsuite/tests/

/Lib/*.xml
/Nemerle.Statechart.Analyser/*.xml

/.vs/Nemerle.Statechart/v15/Server/sqlite3/storage.ide-shm
/.vs/Nemerle.Statechart/v15/Server/sqlite3/storage.ide-wal

/packages/*

/graph/model/*.dll

/graph/model/*.cs

/graph/model/console.out


/ModelTree/*.grs
/Nemerle.Statechart.Analyser/*.grs
/Nemerle.Statechart.Analyser/Calculator.grs
/Nemerle.Statechart.Analyser/Car.grs
/Nemerle.Statechart.Analyser/CodePad.grs
/Nemerle.Statechart.Analyser/do_activity_and_completion_transitions.grs
/Nemerle.Statechart.Analyser/enter_operand.grs
/Nemerle.Statechart.Analyser/FastKeystroke.grs
/Nemerle.Statechart.Analyser/FileFsm.grs
/Nemerle.Statechart.Analyser/hypothetical_example.grs
/Nemerle.Statechart.Analyser/PathCoverFsm.grs
/Nemerle.Statechart.Analyser/SaveChecking.grs
/Nemerle.Statechart.Analyser/Telephone.grs
/Nemerle.Statechart.Generator/do_activity_and_completion_transitions.grs
/Nemerle.Statechart.Generator/graphAlarmClock.grs
/Nemerle.Statechart.Generator/graphCalculator.grs
/Nemerle.Statechart.Generator/graphCar.grs
/Nemerle.Statechart.Generator/graphCodePad.grs
/Nemerle.Statechart.Generator/graphdo_activity_and_completion_transitions.grs
/Nemerle.Statechart.Generator/graphenter_operand.grs
/Nemerle.Statechart.Generator/graphFastKeystroke.grs
/Nemerle.Statechart.Generator/graphFileFsm.grs
/Nemerle.Statechart.Generator/graphhypothetical_example.grs
/Nemerle.Statechart.Generator/graphPathCoverFsm.grs
/Nemerle.Statechart.Generator/graphSaveChecking.grs
/Nemerle.Statechart.Generator/graphTelephone.grs
/Nemerle.Statechart.Parser2/AlarmClock.grs
/Nemerle.Statechart.Parser2/Calculator.grs
/Nemerle.Statechart.Parser2/Car.grs
/Nemerle.Statechart.Parser2/CodePad.grs
/Nemerle.Statechart.Parser2/do_activity_and_completion_transitions.grs
/Nemerle.Statechart.Parser2/enter_operand.grs
/Nemerle.Statechart.Parser2/FastKeystroke.grs
/Nemerle.Statechart.Parser2/FileFsm.grs
/Nemerle.Statechart.Parser2/hypothetical_example.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/AlarmClock.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/Calculator.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/Car.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/CodePad.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/enter_operand.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/FastKeystroke.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/FileFsm.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/graphAlarmClock.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/graphCalculator.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/graphCar.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/graphCodePad.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/graphenter_operand.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/graphFastKeystroke.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/graphFileFsm.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/graphhypothetical_example.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/graphPathCoverFsm.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/graphSaveChecking.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/graphTelephone.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/hypothetical_example.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/PathCoverFsm.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/SaveChecking.grs
/Nemerle.Statechart.Parser2/Nemerle.Statechart.Parser2/Telephone.grs
/Nemerle.Statechart.Parser2/PathCoverFsm.grs
/Nemerle.Statechart.Parser2/SaveChecking.grs
/Nemerle.Statechart.Parser2/Telephone.grs
/Nemerle.Statechart.Runtime/AlarmClock.grs
/Nemerle.Statechart.Runtime/Calculator.grs
/Nemerle.Statechart.Runtime/Car.grs
/Nemerle.Statechart.Runtime/CodePad.grs
/Nemerle.Statechart.Runtime/enter_operand.grs
/Nemerle.Statechart.Runtime/FastKeystroke.grs
/Nemerle.Statechart.Runtime/FileFsm.grs
/Nemerle.Statechart.Runtime/graphdo_activity_and_completion_transitions.grs
/Nemerle.Statechart.Runtime/hypothetical_example.grs
/Nemerle.Statechart.Runtime/PathCoverFsm.grs
/Nemerle.Statechart.Runtime/SaveChecking.grs
/Nemerle.Statechart.Runtime/Telephone.grs
/OutputTree/AlarmClock.grs
/OutputTree/Calculator.grs
/OutputTree/Car.grs
/OutputTree/CodePad.grs
/OutputTree/do_activity_and_completion_transitions.grs
/OutputTree/enter_operand.grs
/OutputTree/FastKeystroke.grs
/OutputTree/FileFsm.grs
/OutputTree/graphAlarmClock.grs
/OutputTree/graphCalculator.grs
/OutputTree/graphCar.grs
/OutputTree/graphCodePad.grs
/OutputTree/graphenter_operand.grs
/OutputTree/hypothetical_example.grs
/OutputTree/PathCoverFsm.grs
/OutputTree/SaveChecking.grs
/OutputTree/Telephone.grs
/Tests/fsmtest/AlarmClock.grs
/Tests/fsmtest/Calculator.grs
/Tests/fsmtest/Car.grs
/Tests/fsmtest/CodePad.grs
/Tests/fsmtest/do_activity_and_completion_transitions.grs
/Tests/fsmtest/enter_operand.grs
/Tests/fsmtest/FastKeystroke.grs
/Tests/fsmtest/FileFsm.grs
/Tests/fsmtest/graphAlarmClock.grs
/Tests/fsmtest/graphCalculator.grs
/Tests/fsmtest/graphCar.grs
/Tests/fsmtest/graphCodePad.grs
/Tests/fsmtest/graphenter_operand.grs
/Tests/fsmtest/graphFastKeystroke.grs
/Tests/fsmtest/hypothetical_example.grs
/Tests/fsmtest/PathCoverFsm.grs
/Tests/fsmtest/SaveChecking.grs
/Tests/fsmtest/Telephone.grs
/Tests/test/AlarmClock.grs
/Tests/test/Calculator.grs
/Tests/test/Car.grs
/Tests/test/CodePad.grs
/Tests/test/do_activity_and_completion_transitions.grs
/Tests/test/enter_operand.grs
/Tests/test/FastKeystroke.grs
/Tests/test/FileFsm.grs
/Tests/test/graphdo_activity_and_completion_transitions.grs
/Tests/test/hypothetical_example.grs
/Tests/test/PathCoverFsm.grs
/Tests/test/SaveChecking.grs
/Tests/test/Telephone.grs
/graph/model/tmpgrgen0/StateMachineActions_intermediate.cs
/graph/model/tmpgrgen0/StateMachineModel.cs
/graph/model/tmpgrgen1/StateMachineActions_intermediate.cs
/graph/model/tmpgrgen1/StateMachineModel.cs
/AlarmClock.grs
/Calculator.grs
/Car.grs
/CodePad.grs
/enter_operand.grs
/FastKeystroke.grs
/FileFsm.grs
/Fsm.n.orig
/fsm2graph/do_activity_and_completion_transitions.grs
/graph/model/AlarmClockConf2.grs
/graph/model/AlarmClockConf3.grs
/graph/model/AlarmClockConf4.grs
/graph/model/do_activity_and_completion_transitions.grs
/graph/model/enter_operand.grs
/Nemerle.Statechart.Generator/AlarmClock.grs
/Nemerle.Statechart.Generator/Calculator.grs
/Nemerle.Statechart.Generator/Car.grs
/Nemerle.Statechart.Generator/CodePad.grs
/Nemerle.Statechart.Generator/enter_operand.grs
/Nemerle.Statechart.Generator/FastKeystroke.grs
/Nemerle.Statechart.Generator/FileFsm.grs
/Nemerle.Statechart.Generator/hypothetical_example.grs
/Nemerle.Statechart.Generator/PathCoverFsm.grs
/Nemerle.Statechart.Generator/SaveChecking.grs
/Nemerle.Statechart.Generator/Telephone.grs
/PathCoverFsm.grs
/SaveChecking.grs
/Telephone.grs
/Tests/state_machines/AlarmClock.grs
/Tests/state_machines/Calculator.grs
/Tests/state_machines/Car.grs
/Tests/state_machines/CodePad.grs
/Tests/state_machines/do_activity_and_completion_transitions.grs
/Tests/state_machines/enter_operand.grs
/Tests/state_machines/FastKeystroke.grs
/Tests/state_machines/FileFsm.grs
/Tests/state_machines/hypothetical_example.grs
/Tests/state_machines/PathCoverFsm.grs
/Tests/state_machines/SaveChecking.grs
/Tests/state_machines/Telephone.grs
