*.log
*.gpstate
*.SCC
_N_Generated*
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

*.txt

Tests/TestSuite/*.log
*.eap
*.ldb



engings.bat

Tests/test/example.n


endings.bat
*.lock
*.ide
/.vs/Nemerle.Statechart2017/v15/Server/sqlite3

/Tests/testsuite/tests/

/Lib/*.xml
/Nemerle.Statechart.Analyser/*.xml

/.vs/Nemerle.Statechart/v15/Server/sqlite3/storage.ide-shm
/.vs/Nemerle.Statechart/v15/Server/sqlite3/storage.ide-wal

/packages/*

/graph/model/*.dll
*.grs

/graph/model/*.cs

/graph/model/console.out
