<?xml version="1.0" encoding="utf-16"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ProjectSupport Caption="NemerleStatechart" TypeFullName="Nemerle.Statechart.Grammar.Typing.ProjectSupport" Path="d:\programs\opensource\nemerle.statechart\Nemerle.Statechart.Parser2\bin\Debug\Nemerle.Statechart.Parser2.Grammar.dll" />
  <Languages>
    <Language Name="NemerleStatechart" Path="d:\programs\opensource\nemerle.statechart\Nemerle.Statechart.Parser2\bin\Debug\Nemerle.Statechart.Parser2.Grammar.dll">
      <DynamicExtensions />
    </Language>
  </Languages>
  <References>
    <!--Reference>File:D:\programs\opensource\nitra\Nitra.Visualizer.Old\bin\Debug\Nitra.Runtime.DLL</Reference-->
  </References>
</Config>